 body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #30A5EA;
        }

        .header {
            background-color: #30A5EA;
            height: 15vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }

        .logo {
            width: 150px;
            height: 50px;
            border-radius: 25px;
        }

.points-box {
    
    background-color: #056BB3;
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 25px;
}

    .pont {
    font-size: 12px; /* Tamanho da fonte desejado com prioridade */
    margin: 0;
}

.points-box p {
    font-size: 16px; /* Tamanho da fonte desejado */
    margin: 0;
    color: white;
}

        #menu-h{
    padding: 0;
    background-color: #ffffff ;
    border-radius: 50px;
    text-align: center;
    height: 40rem;
     
}

#menu-h li{
    display: inline;
}

#menu-h li a {
    
    color: black;
    text-decoration:none;
    display: inline-block;
    padding: 10px;
    font-family: Open Sans;
    transition: 0.8s;
    
}

#menu-h a:hover{
    background-color: rgba(99, 198, 251, 0.443);
    border-radius: 25px;
    transition: 0.5s;

}
        .confirm-data {
            text-align: center;
            padding: 20px 0;
            
    
        }

        .prize-details {
            background-color: white;
            border-radius: 25px;
            padding: 20px;
        }

        .prize-img {
            max-width: 100%;
            border-radius: 25px;
        }

        .prize-name {
            font-size: 24px;
            margin: 10px 0;
        }

        .prize-points {
            font-size: 18px;
        }

        .add-address-button {
            background-color: white;
            padding: 10px 20px;
            text-align: center;
            border-radius: 25px;
            margin-top: 20px;
        }

        .customer-data {
            margin-top: 20px;
            border-radius: 10px 10px 0 0;
        }

        .customer-data label {
            font-weight: bold;
        }

        .customer-data input {
            width: 100%;
            padding: 5px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .redeem-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }

        .redeem-points {
            font-size: 18px;
        }

        
        .redeem-button {
    background-color: #056BB3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
}

.redeem-button a {
    text-decoration: none;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #30A5EA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
 
}

.footer-button {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px;
    border-radius: 50px;
    transition: background-color 0.5s ease;
}

.footer-button:hover {
    background-color: #056BB3;
}

        