/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Caprasimo&family=Open+Sans:wght@300&display=swap');

/* Global styles */
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: #30A5EA;
    
}

.ajudato {
    position: absolute;
    top: 1rem;
    width: 15rem;
}

/* Search box styles */
.search-box {
    position: absolute;
    top: 5%;
    left: 20rem;
    transform: translate(-50%, -50%);
    background: #30A5EA;
    height: 25px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt {
    background: transparent;
    border: none;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
}

.search-txt:focus {
    outline: none;
    border: none;
}

.search-bnt {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #30A5EA;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 00.5s;
}

.search-box:hover > .search-txt {
    width: 100px;
    padding: 0 6px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

/* Menu styles */
#menu-h {
    margin-top: 25%;
    padding: 0;
    background-color: #ffffff;
    border-radius: 50px;
    text-align: center;
}

#menu-h li {
    display: inline;
}

#menu-h li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    transition: 0.8s;
}

#menu-h a:hover {
    background-color: rgba(99, 198, 251, 0.443);
    border-radius: 25px;
    transition: 0.5s;
}

/* Carousel styles */
.content {
    height: 190px;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 25%;
    margin-left: 5%;
    align-items: center;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 25px;
    height: 10px;
    border: 2px solid white;
    border-radius: 15px;
    margin: 12px;
    cursor: pointer;
    transition: 0.7s;
}

.bar:hover {
    background-color: white;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

/* Donation button styles */
.button {
    text-align: center;
    margin-top: 55%;
    border-radius: 10px;
    background-color: #056BB3;
    font-size: 16px;
    width: 141px;
    height: 32px;
    flex-shrink: 0;
    border: none;
}

.button a {
    text-decoration: none;
    border-radius: 16px;
    color: #ffffff;
    font-weight: bold;
}

.textos {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.textos h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #056BB3;
    font-style: oblique;
}

.textos h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #056BB3;
}

.textos p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: black;
}

.textos h2:nth-of-type(2) {
    margin-top: 40px;
}

.textos h2:nth-of-type(3),
.textos h2:nth-of-type(5),
.textos h2:nth-of-type(7) {
    margin-top: 20px;
}

.textos h2:nth-of-type(4),
.textos h2:nth-of-type(6),
.textos h2:nth-of-type(8) {
    margin-top: 10px;
}

.textos h2:nth-of-type(4),
.textos h2:nth-of-type(6),
.textos h2:nth-of-type(8),
.textos p:nth-of-type(3),
.textos p:nth-of-type(5),
.textos p:nth-of-type(7) {
    color: #333;
}

.textos p:nth-of-type(9),
.textos p:nth-of-type(11) {
    font-weight: bold;
}

.textos h2:nth-of-type(9),
.textos h2:nth-of-type(11) {
    margin-top: 30px;
    color: #056BB3;
}

.textos h2:nth-of-type(10) {
    margin-top: 10px;
}

.textos h2:nth-of-type(12) {
    margin-top: 20px;
}

.textos h2:nth-of-type(13) {
    margin-top: 10px;
    font-size: 20px;
}

.textos p:nth-of-type(13),
.textos p:nth-of-type(15) {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #333;
}

.textos p:nth-of-type(16),
.textos p:nth-of-type(18) {
    margin-bottom: 30px;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #30A5EA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.footer-button {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px;
    border-radius: 50px;
    transition: background-color 0.5s ease;
}

.footer-button:hover {
    background-color: #056BB3;
}

